:root {
  --font-body: 'Tillana', Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #330066;
  --secondary-color: #9555cc; 
  --tertiary-color: #de88f3;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;
  --success-color: #98fb98;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
/* *{
  outline: solid 0.25rem rgba(18,243,37, 0.5);
} */

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
}
.hero {
  position: relative;
}
.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}
.wrapper-banner{
  background-color: #303030;
  border-radius: 10px;
  animation: pulse 2s infinite;
  margin-bottom: 3%;
}
.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
/* utility classes */
.highlight {
  color: var(--tertiary-color);
}
.emptyCartMessage{
  text-align: center;
  margin-bottom: 300px;
  font-size: large;
}
button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}
.divider {
  border-bottom: 2px solid var(--primary-color);
}
/* End utility classes */

.confirmation-btn{
  margin-top: 5%;
  margin-bottom: 2%;
}

.confirmation-btn:hover{
  cursor: pointer;
}

.bi-trash:hover{
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  transform: scale(1.3);
  cursor: pointer;
}
.confirmation-box{
  background-color: var(--success-color);
  display: flex;
  justify-content:space-around;
  border-radius: 12px;
  box-shadow: #303030;
  margin-top: 15px;
  margin-left: 25%;
  margin-right: 25%;
  padding-left: 3%;
  padding-right: 3%;
}
.confirmation-text{
  margin-left: 15%;
}
.contact-us{
  margin-left: 25%;
}
/* Alert */
#alertSuccess{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  margin: 5px;
  width: 465px;
  background-color: var(--success-color); 
  border: 3px solid var(--primary-color);
}

button:hover {
  transform: scale(1.05);
  border: 2px solid rgb(226, 212, 17);
  opacity: 0.85;
}

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}
.cart:hover svg {
  fill: var(--secondary-color);
  transform: scale(1.3);
}
/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.products {
  padding: 0.5em;
}
.product-list,
.earring-list,
.bracelet-list,
.necklace-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; /* space-between;  */
  list-style-type: none;
  padding: 0;
}
.product-list a,
.earring-list a,
.bracelet-list a,
.necklace-list a {
  text-decoration: none;
  color: var(--dark-grey);
}

#products{
  /*flex-wrap: wrap;*/
  
}
#products .product-list{
  flex-direction: column;
  padding-left: 15%;
  justify-content: center;

}

#products .product-list h2,
#products .product-list p{
  padding-left: 15%;
}

#products .product-list img{
  margin-top: 10%;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#products .product-list a{
  cursor: context-menu;
}

/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.product-card:hover {
  transform: scale(1.05);
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}
/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}
/*Superscript number of items*/
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #bdab92;
}
#lblCartCount {
  font-size: 12px;
  background: var(--secondary-color);
  color: rgb(255, 255, 255);
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}
/* End Superscript number of items*/
.cart-total-text,
.cart-total-value{
  font-weight: bold;
  font-size: larger;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  30% {
    opacity: 0;
    border-bottom: 2px solid rgb(226, 212, 17);
  }
}
/*Price*/
.cart-total-text {
  display: inline;
}
.cart-total-value {
  display: inline;
}
.cart-footer{
  text-align: right;
}
.qty-above-cart-icon{
  content: attr(5);
  background-color: aqua;
  font-size: 12px;
  color: #fff;
}
/*Icons*/
.home-icon{
  fill: var(--tertiary-color);
  width: 30px;
  height: 30px;
  margin: 3px;
  margin-top: 20px;
}
.home-icon:hover{
  fill: var(--secondary-color);
  transform: scale(1.3);
}
.add-icon{
  margin-top: 10%;
  fill: var(--tertiary-color);
  width: 25px;
  height: 25px;
}
.add-icon:hover{
  fill: var(--secondary-color);
  transform: scale(1.2);
  cursor: pointer;
}
.company-name{
  align-content: center;
}
/* Start cart list card styles */
.cart-icon{
  fill: var(--tertiary-color);
  width: 40px;
  height: 40px;
}

.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}
.cart-card p {
  margin-top: 0;
}
.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}

/**sidebar*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 220px;
  background: #de88f3; /*#11101d;*/
  transition: all 0.5s ease;
}
.sidebar.close {
  width: 0px;
}
.container {
  padding-top: 60px;
}
.sidebar .nav-items {
  height: 100%;
  padding: 0 0 150px 0;
  width: 75%;
  overflow: auto;
}
.sidebar .nav-items li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
  align-items: center;
  padding: auto;
}
.item_name{
  margin: 2%;
}
.sidebar .item_name:hover{
  background-color: var(--secondary-color);
  transform: scale(1.0005);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: 5%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: smaller;
}
.sidebar.close a:hover {
  cursor: default;
}
/* heart */
.heart {
  fill: var(--tertiary-color);
  position: relative;
  top: 5px;
  width: 50px;
  animation-name: pulse-heart;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
@keyframes pulse-heart {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}
.sidebar .nav-items li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-items li a .item_name {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-items li a .item_name {
  opacity: 0;
  pointer-events: none;
}
.bx-menu:hover{
  fill: var(--secondary-color);
  transform: scale(1.3);
  cursor: pointer;
}
.bx-menu{
  padding: 1px;
  margin: 3.25px;
  fill: var(--tertiary-color);
  width: 30px;
  height: 30px;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(244,157,22, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(244,157,22, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(244,157,22, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(244, 22, 218, 0.4);
    box-shadow: 0 0 0 0 rgba(244,22, 218, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(244,157,22, 0);
      box-shadow: 0 0 0 10px rgba(244,157,22, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(244,157,22, 0);
      box-shadow: 0 0 0 0 rgba(244,157,22, 0);
  }
}
.text-body{
  margin-left: 60px;
  padding: 0;
}
.bx-x:hover{
  transform: scale(1.1);
  cursor: pointer;
  width: 15px;
  height: 15px;
}
.x-to-close{
  width: 33px;
  height: 33px;
  fill: white;
  padding: 5px;
}
.x-to-close:hover{
  transform: scale(1.1);
  fill: var(--secondary-color);
}
.box-x{
    float: right;
    clear: both;
}
div.container {
  text-align: center;
}
ul.nav-items{
  display: inline-block;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}